<section id="contact" class="py-5 bg-light">
  <div class="container">

    <!-- Título -->
    <div class="text mb-4">
      <h2>Contact</h2>
      <p class="text-dark-emphasis">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia natus quis eveniet quo facere porro. Voluptatibus minima dicta dolores! Est reiciendis amet rerum modi quasi omnis mollitia. Eum, praesentium iusto.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
 <form class="p-4 border rounded shadow-sm" style="background-color: hsl(0deg 0% 96.08%);">
  
          <div class="mb-3">
            <label class="form-label">Your E-mail</label>
            <input type="email" class="form-control" placeholder="Your email">
          </div>
          <div class="mb-3">
            <label class="form-label">Your message</label>
            <textarea class="form-control" rows="4" placeholder="Please enter your message here..."></textarea>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
          </div>

        </form>

      </div>
    </div>

  </div>
</section>